<div *ngIf="_router.url != '/'">
  <mat-toolbar color="primary">
    <a routerLink="/list"><span class="head">OSPF</span></a>
    <span class="example-spacer"></span>
    <div class="icons">
      <fa-icon [icon]="faHome" routerLink="/list"></fa-icon>
      <fa-icon [icon]="faFileUpload" routerLink="/new"></fa-icon>
      <fa-icon [icon]="faCommentDots" routerLink="/contact"></fa-icon>
      <a href="https://github.com/snehal96/OSPF">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
    </div>
  </mat-toolbar>
</div>
