mat-toolbar {
  text-align: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
}

.example-spacer {
  flex: 1 1 auto;
}

fa-icon {
  margin-right: 20px;
  font-size: larger;
  cursor: pointer;
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.head {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  mat-toolbar {
    display: inherit;
    width: 100vw;
    height: 70px;
    padding: 10px 0px;
    height: 90px;
  }

  .head {
    font-size: 45px;
    cursor: pointer;
  }
}
