img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.comment-container {
  width: 80vw;
  border-left: 3px solid gray;
  margin: auto;
  z-index: 0;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
}

li {
  margin: 0 -1.5vw;
  margin-bottom: 40px;
  list-style: none;
  width: calc(100% + 2vw);
  padding: 0;
}

mat-card {
  background-color: lightblue;
}

.creator-card {
  margin-left: -2%;
  margin-bottom: 40px;
  background-color: wheat;
}

@media screen and (max-width: 500px) {
  .main-container {
    margin-top: 25px;
  }

  li {
    list-style: none;
    width: calc(100% + 1vw);
    padding: 0;
    margin: 0 -1vw;
    margin-bottom: 25px;
  }
}
