.projectListStyle {
  list-style: none;
}

.container {
  padding: 1%;
  background-color: #f7f7fc;
}

@media screen and (max-width: 500px) {
  .container {
    padding: 1%;
    background-color: #f7f7fc;
    margin-top: 15px;
  }
}
