<br /><br />
<br /><br /><br />
<h1>Contact Dev</h1>
<br />
<div class="form-container">
  <form
    [formGroup]="contactForm"
    (ngSubmit)="submitForm()"
    method="POST"
    data-netlify="true"
  >
    <mat-form-field appearance="fill">
      <mat-label>Your Name</mat-label>
      <input matInput required formControlName="name" name="name" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Feedback</mat-label>
      <textarea
        matInput
        required
        formControlName="feedback"
        name="feedback"
      ></textarea>
    </mat-form-field>

    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          How To Contact You back?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          name="email"
        />
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Telegram Id</mat-label>
        <input matInput formControlName="tid" name="tid" />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input
          matInput
          type="number"
          min="1"
          formControlName="contact"
          name="contact"
        />
      </mat-form-field>
    </mat-expansion-panel>
    <br />
    <div>
      <div data-netlify-recaptcha="true"></div>
    </div>
    <br />
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
