mat-card {
  width: 50vw;
  height: 25vh;
  margin: auto;
  margin-top: 30vh;
  border: 1px solid cadetblue;
  padding-top: 2.5%;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

h2,
h3,
button {
  margin-left: 15%;
}
