.mat-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.mat-card:hover {
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.15), 1px 3px 8px rgba(0, 0, 0, 0.15);
}

.mat-card-header {
  display: unset !important;
  text-align: center;
}

.mat-card-content {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-card-footer {
  text-align: center;
  margin: 0;
}

.project-card {
  width: 23vw;
  min-height: 15rem;
  max-height: 15rem;
}

.mat-label {
  display: unset !important;
  text-align: center;
}

.num {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .project-card {
    width: 30vw;
    min-height: 15rem;
    max-height: 15rem;
  }
}

@media screen and (max-width: 500px) {
  .project-card {
    width: 50vw;
    min-height: 15rem;
    max-height: 15rem;
  }
}
