h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
}

.container {
  width: 90vw;
  margin: auto;
}

mat-panel-title {
  font-weight: bolder;
}

@media screen and( max-width: 500px) {
  .container {
    margin-top: 55px;
  }
}
