/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f7f7fc;
}

.ta-item {
  background-color: white;
  border: 0;
  height: 40px;
  width: 60%;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0), 1px 6px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.ta-item:hover {
  background-color: rgb(190, 190, 190);
}

.ta-results {
  margin-top: 8px;
  width: 100%;
}

.mat-chip-list-wrapper {
  display: block !important;
}

.mat-paginator-container {
  justify-content: center !important;
}

pre {
  overflow: auto;
  scrollbar-width: none;
}
